# Java
target/
*.class
*.jar
*.war
*.ear

# Eclipse
.project
.classpath
.settings/

# VS Code
.vscode/

# Node
node_modules/
dist/

# Environment files
.env
*.env


# Logs
*.log

# OS files
.DS_Store
Thumbs.db