*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:"Segoe UI",sans-serif;
}

body{
    overflow:hidden;
}

/* Full Background */

.login-page{

    width:100%;
    height:100vh;

    background:url("../assets/login-bg.jpg") center center/cover no-repeat;

}

/* Blur Layer */

.login-overlay{

   width:100%;
    height:100%;

    display:flex;
    justify-content:center;
    align-items:center;

    background:rgba(255,255,255,.30);

    backdrop-filter:blur(7px);

}

/* Login Card */

.login-card{

    width:400px;

    background:rgba(255,255,255,.94);

    border-radius:22px;

    padding:38px;

    box-shadow:0 15px 45px rgba(0,0,0,.18);

    animation:fadeIn .5s ease;

}

/* Logo */

.logo-section{

    text-align:center;

    margin-bottom:30px;

}

.login-logo{

    width:90px;
    height:90px;

    border-radius:50%;

    object-fit:cover;

    border:4px solid white;

    box-shadow:0 8px 20px rgba(0,0,0,.18);

    margin-bottom:15px;

}

.logo-section h1{

    color:#2563eb;

    font-size:34px;

    margin-bottom:8px;

}

.logo-section p{

    color:#666;

    font-size:15px;

}

/* Inputs */

.input-box{

    display:flex;

    align-items:center;

    border:1px solid #ddd;

    border-radius:10px;

    padding:0 15px;

    margin-bottom:18px;

    background:white;

    transition:.3s;

}

.input-box:focus-within{

    border-color:#2563eb;

    box-shadow:0 0 8px rgba(37,99,235,.2);

}

.input-box svg{

    color:#888;

}

.input-box input{

    width:100%;

    padding:15px 12px;

    border:none;

    outline:none;

    background:transparent;

    font-size:15px;

}

.input-box span{

    cursor:pointer;

    color:#666;

}

/* Forgot */

.forgot{

    display:flex;

    justify-content:flex-end;

    margin-bottom:22px;

}

.forgot a{

    text-decoration:none;

    color:#2563eb;

    font-size:14px;

}

.forgot a:hover{

    text-decoration:underline;

}

/* Button */

.login-btn{

    width:100%;

    padding:15px;

    border:none;

    border-radius:10px;

    background:#2563eb;

    color:white;

    font-size:18px;

    font-weight:600;

    cursor:pointer;

    transition:.3s;

}

.login-btn:hover{

    background:#1d4ed8;

    transform:translateY(-2px);

}

/* Bottom */

.bottom-text{

    text-align:center;

    margin-top:25px;

    color:#666;

}

.bottom-text a{

    color:#2563eb;

    margin-left:6px;

    text-decoration:none;

    font-weight:600;

}

.bottom-text a:hover{

    text-decoration:underline;

}

/* Animation */

@keyframes fadeIn{

    from{
        opacity:0;
        transform:translateY(20px);
    }

    to{
        opacity:1;
        transform:translateY(0);
    }

}

/* Mobile */

@media(max-width:768px){

.login-overlay{

    justify-content:center;

    padding-left:0;

}

.login-card{

    width:92%;

}

}